# Atelier Data Mart

Robin GARCIA & Thomas BOUTET

## Atelier 1

Import des dépendances

In [2]:
import pandas as pd
from sqlalchemy import create_engine

Connexion : Création du lien entre Python et la base PostgreSQL via SQLAlchemy.

In [3]:
# Connexion PostgreSQL
engine = create_engine('postgresql://csgo_user:csgo_pass@localhost:5432/csgo_db')

Optimisation RAM : Utilisation de chunksize=10000 pour charger les données par petits paquets et ne pas saturer la mémoire du PC.

Robustesse : Forçage du type dtype=str pour accepter toutes les données brutes (même les erreurs de saisie comme le "o") sans faire planter l'importation.

Chargement : Importation automatique des 4 fichiers CSV vers des tables brutes (RAW) dans PostgreSQL.

In [4]:
# Liste des CSV à charger
files = [('results.csv','results'), ('players.csv','players'), 
         ('picks.csv','picks'), ('economy.csv','economy')]

for csv_file, table_name in files:
    print(f"Chargement de {table_name}...")
    
    # dtype=str évite les erreurs de type (ex: le "o" dans best_of)
    # chunksize=10000
    with pd.read_csv(f'data/{csv_file}', chunksize=10000, dtype=str, low_memory=False) as reader:
        first = True
        for chunk in reader:
            mode = 'replace' if first else 'append'
            chunk.to_sql(table_name, engine, if_exists=mode, index=False)
            first = False

Chargement de results...
Chargement de players...
Chargement de picks...
Chargement de economy...

Audit des donnees


Inspection : Requête sur le schéma information_schema pour lister précisément les noms des colonnes importées.

Validation : Permet de vérifier les noms réels (ex: _map ou player_name) avant d'écrire les requêtes de transformation SQL.

In [ ]:
from sqlalchemy import text

with engine.connect() as conn:
    # Cette requête liste toutes les tables et leurs colonnes
    result = conn.execute(text("""
        SELECT table_name, column_name 
        FROM information_schema.columns 
        WHERE table_schema = 'public'
        ORDER BY table_name;
    """))
    
    for row in result:
        print(f"Table: {row[0]} | Colonne: {row[1]}")

L'objectif est de passer d'un modele plat (fichiers CSV volumineux et redondants) à un schema en etoile performant. 
Cela permet de separer les donnees descriptives des donnees de performance.

In [6]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS country CASCADE;
        CREATE TABLE country (
            id_country SERIAL PRIMARY KEY,
            country_name VARCHAR(100) UNIQUE NOT NULL
        );

        INSERT INTO country (country_name)
        SELECT DISTINCT country
        FROM players
        WHERE country IS NOT NULL AND TRIM(country) != ''
        ON CONFLICT (country_name) DO NOTHING;
    """))
    conn.commit()

In [7]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS player CASCADE;
        CREATE TABLE player (
            id_player INTEGER PRIMARY KEY,
            player_name VARCHAR(255),
            id_country INTEGER,
            FOREIGN KEY (id_country) REFERENCES country(id_country)
        );

        INSERT INTO player (id_player, player_name, id_country)
        SELECT DISTINCT 
            CAST(NULLIF(TRIM(p.player_id), '') AS INTEGER),
            p.player_name,
            c.id_country
        FROM players p
        LEFT JOIN country c ON c.country_name = p.country
        WHERE p.player_id IS NOT NULL 
          AND TRIM(p.player_id) != ''
          AND TRIM(p.player_id) ~ '^[0-9]+$'
        ON CONFLICT (id_player) DO NOTHING;
    """))
    conn.commit()

In [8]:


with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS map CASCADE;
        CREATE TABLE map (
            id_map SERIAL PRIMARY KEY,
            map_name VARCHAR(100) UNIQUE NOT NULL
        );

        INSERT INTO map (map_name)
        SELECT DISTINCT map_name
        FROM (
            SELECT COALESCE(map_1, map_2, map_3) AS map_name
            FROM players
            WHERE COALESCE(map_1, map_2, map_3) IS NOT NULL
            UNION
            SELECT DISTINCT _map AS map_name FROM results WHERE _map IS NOT NULL
            UNION
            SELECT DISTINCT _map AS map_name FROM economy WHERE _map IS NOT NULL
        ) sub
        WHERE map_name IS NOT NULL AND map_name != ''
        ON CONFLICT (map_name) DO NOTHING;
    """))
    conn.commit()

In [9]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS team CASCADE;
        CREATE TABLE team (
            id_team SERIAL PRIMARY KEY,
            team_name VARCHAR(255) UNIQUE NOT NULL
        );

        INSERT INTO team (team_name)
        SELECT DISTINCT team_name
        FROM (
            SELECT team_1 AS team_name FROM results
            UNION
            SELECT team_2 AS team_name FROM results
            UNION
            SELECT team AS team_name FROM players
            UNION
            SELECT opponent AS team_name FROM players
        ) sub
        WHERE team_name IS NOT NULL AND team_name != ''
        ON CONFLICT (team_name) DO NOTHING;
    """))
    conn.commit()

In [ ]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS player_team_match CASCADE;
        CREATE TABLE player_team_match (
            id_player INTEGER,
            id_team INTEGER,
            id_match INTEGER,
            kills INTEGER,
            deaths INTEGER,
            assists INTEGER,
            rating NUMERIC,
            adr NUMERIC,
            kast NUMERIC,
            kddiff INTEGER,
            headshots INTEGER,
            fkdiff INTEGER,
            flash_assists INTEGER,
            PRIMARY KEY (id_player, id_team, id_match),
            FOREIGN KEY (id_player) REFERENCES player(id_player),
            FOREIGN KEY (id_team, id_match) REFERENCES team_match(id_team, id_match)
        );

        INSERT INTO player_team_match (
            id_player, id_team, id_match, kills, deaths, assists, rating, 
            adr, kast, kddiff, headshots, fkdiff, flash_assists
        )
        SELECT 
            CAST(NULLIF(TRIM(p.player_id), '') AS INTEGER),
            t.id_team,
            CAST(NULLIF(TRIM(p.match_id), '') AS INTEGER),
            CASE WHEN TRIM(COALESCE(p.kills::TEXT, '')) ~ '^[0-9]+$' THEN CAST(p.kills AS INTEGER) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.deaths::TEXT, '')) ~ '^[0-9]+$' THEN CAST(p.deaths AS INTEGER) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.assists::TEXT, '')) ~ '^[0-9]+$' THEN CAST(p.assists AS INTEGER) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.rating::TEXT, '')) ~ '^[0-9]*\.?[0-9]+$' THEN CAST(p.rating AS NUMERIC) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.adr::TEXT, '')) ~ '^[0-9]*\.?[0-9]+$' THEN CAST(p.adr AS NUMERIC) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.kast::TEXT, '')) ~ '^[0-9]*\.?[0-9]+$' THEN CAST(p.kast AS NUMERIC) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.kddiff::TEXT, '')) ~ '^-?[0-9]+$' THEN CAST(p.kddiff AS INTEGER) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.hs::TEXT, '')) ~ '^[0-9]+$' THEN CAST(p.hs AS INTEGER) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.fkdiff::TEXT, '')) ~ '^-?[0-9]+$' THEN CAST(p.fkdiff AS INTEGER) ELSE NULL END,
            CASE WHEN TRIM(COALESCE(p.flash_assists::TEXT, '')) ~ '^[0-9]+$' THEN CAST(p.flash_assists AS INTEGER) ELSE NULL END
        FROM players p
        JOIN team t ON t.team_name = p.team
        JOIN team_match tm ON tm.id_team = t.id_team AND tm.id_match = CAST(NULLIF(TRIM(p.match_id), '') AS INTEGER)
        WHERE p.player_id IS NOT NULL 
          AND TRIM(p.player_id) != ''
          AND TRIM(p.player_id) ~ '^[0-9]+$'
          AND p.match_id IS NOT NULL 
          AND TRIM(p.match_id) != ''
          AND TRIM(p.match_id) ~ '^[0-9]+$'
        ON CONFLICT (id_player, id_team, id_match) DO NOTHING;
    """))
    conn.commit()

In [11]:
with engine.connect() as conn:
    conn.execute(text("""
        CREATE INDEX IF NOT EXISTS idx_team_match_team ON team_match(id_team);
        CREATE INDEX IF NOT EXISTS idx_team_match_match ON team_match(id_match);
        
        CREATE INDEX IF NOT EXISTS idx_player_team_match_player ON player_team_match(id_player);
        CREATE INDEX IF NOT EXISTS idx_player_team_match_team ON player_team_match(id_team);
        CREATE INDEX IF NOT EXISTS idx_player_team_match_match ON player_team_match(id_match);
        
        CREATE INDEX IF NOT EXISTS idx_match_date ON match(match_date);
        CREATE INDEX IF NOT EXISTS idx_match_map ON match(id_map);
    """))
    conn.commit()

Cardinalités

Un joueur peut participer à plusieurs matchs (1,N)
Une équipe peut jouer plusieurs matchs (1,N)
Un match se joue sur une carte (1,1)
Un match implique deux équipes via team_match (2,2)
Chaque participation de joueur est liée à une équipe et un match via team_match

# Atelier 2

Modèle Dimensionnel

In [13]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS dim_country CASCADE;
        CREATE TABLE dim_country (
            id_dim_country SERIAL PRIMARY KEY,
            country_name VARCHAR(100)
        );

        INSERT INTO dim_country (id_dim_country, country_name)
        SELECT 
            id_country,
            country_name
        FROM country;
    """))
    conn.commit()

In [14]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS dim_player CASCADE;
        CREATE TABLE dim_player (
            id_dim_player SERIAL PRIMARY KEY,
            player_name VARCHAR(255),
            fk_dim_country INTEGER,
            FOREIGN KEY (fk_dim_country) REFERENCES dim_country(id_dim_country)
        );

        INSERT INTO dim_player (id_dim_player, player_name, fk_dim_country)
        SELECT 
            p.id_player,
            p.player_name,
            p.id_country
        FROM player p;
    """))
    conn.commit()

In [15]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS dim_map CASCADE;
        CREATE TABLE dim_map (
            id_dim_map SERIAL PRIMARY KEY,
            map_name VARCHAR(100)
        );

        INSERT INTO dim_map (id_dim_map, map_name)
        SELECT 
            id_map,
            map_name
        FROM map;
    """))
    conn.commit()

In [16]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS dim_team CASCADE;
        CREATE TABLE dim_team (
            id_dim_team SERIAL PRIMARY KEY,
            team_name VARCHAR(255)
        );

        INSERT INTO dim_team (id_dim_team, team_name)
        SELECT 
            id_team,
            team_name
        FROM team;
    """))
    conn.commit()

In [17]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS dim_match CASCADE;
        CREATE TABLE dim_match (
            id_dim_match SERIAL PRIMARY KEY,
            match_date DATE
        );

        INSERT INTO dim_match (id_dim_match, match_date)
        SELECT 
            id_match,
            match_date
        FROM match;
    """))
    conn.commit()

In [18]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS dim_date CASCADE;
        CREATE TABLE dim_date (
            id_dim_date SERIAL PRIMARY KEY,
            date_complete DATE UNIQUE NOT NULL,
            jour_semaine VARCHAR(20),
            jour_mois INTEGER,
            mois INTEGER,
            annee INTEGER,
            trimestre INTEGER,
            semestre INTEGER
        );

        INSERT INTO dim_date (date_complete, jour_semaine, jour_mois, mois, annee, trimestre, semestre)
        SELECT DISTINCT
            match_date,
            TO_CHAR(match_date, 'Day'),
            EXTRACT(DAY FROM match_date),
            EXTRACT(MONTH FROM match_date),
            EXTRACT(YEAR FROM match_date),
            EXTRACT(QUARTER FROM match_date),
            CASE WHEN EXTRACT(MONTH FROM match_date) <= 6 THEN 1 ELSE 2 END
        FROM match
        WHERE match_date IS NOT NULL
        ON CONFLICT (date_complete) DO NOTHING;
    """))
    conn.commit()

In [19]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS fait_participation_joueur CASCADE;
        CREATE TABLE fait_participation_joueur (
            id_fait_participation_joueur SERIAL PRIMARY KEY,
            fk_dim_player INTEGER NOT NULL,
            fk_dim_match INTEGER NOT NULL,
            fk_dim_team INTEGER NOT NULL,
            fk_dim_map INTEGER,
            fk_dim_date INTEGER,
            kills INTEGER,
            deaths INTEGER,
            assists INTEGER,
            rating NUMERIC,
            adr NUMERIC,
            kast NUMERIC,
            kddiff INTEGER,
            headshots INTEGER,
            fkdiff INTEGER,
            flash_assists INTEGER,
            FOREIGN KEY (fk_dim_player) REFERENCES dim_player(id_dim_player),
            FOREIGN KEY (fk_dim_match) REFERENCES dim_match(id_dim_match),
            FOREIGN KEY (fk_dim_team) REFERENCES dim_team(id_dim_team),
            FOREIGN KEY (fk_dim_map) REFERENCES dim_map(id_dim_map),
            FOREIGN KEY (fk_dim_date) REFERENCES dim_date(id_dim_date)
        );

        INSERT INTO fait_participation_joueur (
            fk_dim_player, fk_dim_match, fk_dim_team, fk_dim_map, fk_dim_date,
            kills, deaths, assists, rating, adr, kast, kddiff, headshots, fkdiff, flash_assists
        )
        SELECT 
            ptm.id_player,
            ptm.id_match,
            ptm.id_team,
            m.id_map,
            dd.id_dim_date,
            ptm.kills,
            ptm.deaths,
            ptm.assists,
            ptm.rating,
            ptm.adr,
            ptm.kast,
            ptm.kddiff,
            ptm.headshots,
            ptm.fkdiff,
            ptm.flash_assists
        FROM player_team_match ptm
        JOIN match m ON m.id_match = ptm.id_match
        LEFT JOIN dim_date dd ON dd.date_complete = m.match_date;
    """))
    conn.commit()

In [20]:
with engine.connect() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS fait_participation_team CASCADE;
        CREATE TABLE fait_participation_team (
            id_fait_participation_team SERIAL PRIMARY KEY,
            fk_dim_match INTEGER NOT NULL,
            fk_dim_team INTEGER NOT NULL,
            fk_dim_map INTEGER,
            fk_dim_date INTEGER,
            is_winner BOOLEAN,
            score INTEGER,
            FOREIGN KEY (fk_dim_match) REFERENCES dim_match(id_dim_match),
            FOREIGN KEY (fk_dim_team) REFERENCES dim_team(id_dim_team),
            FOREIGN KEY (fk_dim_map) REFERENCES dim_map(id_dim_map),
            FOREIGN KEY (fk_dim_date) REFERENCES dim_date(id_dim_date)
        );

        INSERT INTO fait_participation_team (
            fk_dim_match, fk_dim_team, fk_dim_map, fk_dim_date, is_winner, score
        )
        SELECT 
            tm.id_match,
            tm.id_team,
            m.id_map,
            dd.id_dim_date,
            tm.is_winner,
            tm.score
        FROM team_match tm
        JOIN match m ON m.id_match = tm.id_match
        LEFT JOIN dim_date dd ON dd.date_complete = m.match_date;
    """))
    conn.commit()

In [21]:
with engine.connect() as conn:
    conn.execute(text("""
        CREATE INDEX IF NOT EXISTS idx_fait_joueur_player ON fait_participation_joueur(fk_dim_player);
        CREATE INDEX IF NOT EXISTS idx_fait_joueur_match ON fait_participation_joueur(fk_dim_match);
        CREATE INDEX IF NOT EXISTS idx_fait_joueur_team ON fait_participation_joueur(fk_dim_team);
        CREATE INDEX IF NOT EXISTS idx_fait_joueur_map ON fait_participation_joueur(fk_dim_map);
        CREATE INDEX IF NOT EXISTS idx_fait_joueur_date ON fait_participation_joueur(fk_dim_date);
        
        CREATE INDEX IF NOT EXISTS idx_fait_team_match ON fait_participation_team(fk_dim_match);
        CREATE INDEX IF NOT EXISTS idx_fait_team_team ON fait_participation_team(fk_dim_team);
        CREATE INDEX IF NOT EXISTS idx_fait_team_map ON fait_participation_team(fk_dim_map);
        CREATE INDEX IF NOT EXISTS idx_fait_team_date ON fait_participation_team(fk_dim_date);
    """))
    conn.commit()

Sur le lien localhost:8080 et en utilisant les credentials suivant : epsi@gmail.com | azerty1234!

Le tableau de bord CS GO Stats contiendra le Top 10 des joueurs avec les statistiques d'élimination par partie ainsi que les éliminations par pays.

In [ ]:
# print("\n--- TABLE: country ---")
# df = pd.read_sql("SELECT * FROM country LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM country', engine))} lignes")
# print(df)

# print("\n--- TABLE: player ---")
# df = pd.read_sql("SELECT * FROM player LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM player', engine))} lignes")
# print(df)

# print("\n--- TABLE: team ---")
# df = pd.read_sql("SELECT * FROM team LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM team', engine))} lignes")
# print(df)

# print("\n--- TABLE: map ---")
# df = pd.read_sql("SELECT * FROM map LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM map', engine))} lignes")
# print(df)

# print("\n--- TABLE: match ---")
# df = pd.read_sql("SELECT * FROM match LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM match', engine))} lignes")
# print(df)

# print("\n--- TABLE: team_match ---")
# df = pd.read_sql("SELECT * FROM team_match LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM team_match', engine))} lignes")
# print(df)

# print("\n--- TABLE: player_team_match ---")
# df = pd.read_sql("SELECT * FROM player_team_match LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM player_team_match', engine))} lignes")
# print(df)

# print("\n--- TABLE: dim_country ---")
# df = pd.read_sql("SELECT * FROM dim_country LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM dim_country', engine))} lignes")
# print(df)

# print("\n--- TABLE: dim_player ---")
# df = pd.read_sql("SELECT * FROM dim_player LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM dim_player', engine))} lignes")
# print(df)

# print("\n--- TABLE: dim_team ---")
# df = pd.read_sql("SELECT * FROM dim_team LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM dim_team', engine))} lignes")
# print(df)

# print("\n--- TABLE: dim_map ---")
# df = pd.read_sql("SELECT * FROM dim_map LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM dim_map', engine))} lignes")
# print(df)

# print("\n--- TABLE: dim_match ---")
# df = pd.read_sql("SELECT * FROM dim_match LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM dim_match', engine))} lignes")
# print(df)

# print("\n--- TABLE: dim_date ---")
# df = pd.read_sql("SELECT * FROM dim_date LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM dim_date', engine))} lignes")
# print(df)

# print("\n--- TABLE: fait_participation_joueur ---")
# df = pd.read_sql("SELECT * FROM fait_participation_joueur LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM fait_participation_joueur', engine))} lignes")
# print(df)

# print("\n--- TABLE: fait_participation_team ---")
# df = pd.read_sql("SELECT * FROM fait_participation_team LIMIT 10", engine)
# print(f"Total: {len(pd.read_sql('SELECT * FROM fait_participation_team', engine))} lignes")
# print(df)